* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    /* background-color: #FF3CAC; */
    /* background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    /* background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    /* background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    font-family: sans-serif;
}

#accordion {
    margin: 100px auto;
    width: 600px;
}
#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
}
#accordion li label {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #2B86C5;
    cursor: pointer;
}
#accordion li label span {
    transform: rotate(90DEG);
    font-size: 25px;
    color: #2B86C5;
}
#accordion label + input[type="radio"] {
    display: none;
}
#accordion li .content {
    filter: none;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content {
    max-height: 400px;
}



